<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p class="lead" style="margin:0">{% trans "modal / hed" %}</p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="span1" style="text-align:center">
            <i class="big fa fa-download"></i>
        </div>

        <div class="span5">
            <p>{% trans "modal / text" %}</p>
            <a href="#" class="btn-export-zip btn btn-primary"><i class="fa fa-download"></i> {% trans "modal / button" %}</a>
        </div>
    </div>
</div>
<div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "modal / close" %}</button>
</div>

